html, body, .container-fluid, #chessWrapper, .row {
	height: 100%;
	/*overflow: visible;*/
}
#chessboard-div{
    /*background-color: #00A876;*/
    background: -webkit-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
  background: -moz-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
  background: -o-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
  background: linear-gradient(to left, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
    height: 100%;
    padding: 0;
}
#chessWrapper{
	/*background-color: #5E9CA9;*/
}
#profile-header{
	height: 45px;
	background-color: #DDA611;
}
#profile-info{
	background-image: url('chess2.jpg');
	height: 37%;
	/*background-color: yellow;*/
	background-position: center;
	background-size: cover;
}
#profile-mini-stats{
	height: 57px;
	background-color: #6B7E91;
}
#chat-div{
	height: 46%;
	background-color: #383D44;
}
#profile-info .col-md-12
{
	height: 100%;
}
#profile-info-overlay{
	height: 100%;
	
	background-color: rgba(0,0,0,0.6);
}
#profile-pic-wrapper{
	padding-top: 4%;
	text-align: center;
	/*margin-bottom: -40px;*/
}
#user-pic{
	height: 72px;
	/*padding: 5% 30%;*/
	width: 72px;
}
#user-name,#total-games-wrapper{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	/*font-weight: bold;*/
	/*margin-top: 10px;*/
}
#total-games-wrapper{
	font-size: 20px;
	margin-top: 15px;
}
#user-name-wrapper{
	padding-top: 10px;
	padding-bottom: 5px;
}
#user-name-wrapper, #user-category-wrapper,#total-games-wrapper{
	/*padding: 0 25% 0 28%;*/
	text-align: center;

}
#user-category-wrapper button{
	background-color: #DDA611;
	color: #fff;
	/*border-color: #fff;*/
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	/*border-width: 10px;*/
	border-radius: 0;
	font-weight: bolder;
}
#heading{
	vertical-align: middle;
	font-size: 18px;
	font-family:sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 12px;
}
#profile-mini-stats div{
	margin-top: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.container-fluid{
	padding: 0;
}
#board1{
    height: 500px;
    width: 500px;
}
