html, body, .container-fluid, #chessWrapper {
	height: 100%;
	overflow: hidden;
}
#chessboard-div{
    /*background-color: #00A876;*/
    background-color: rgba(40, 50, 78, 0.6);
		  background: -webkit-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: -moz-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: -o-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: linear-gradient(to left, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  font-family: "Roboto", sans-serif;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
    padding-top: 30px;
    height: 100%;
    /*padding: 0;*/
}
#chessWrapper{
	/*background-color: #5E9CA9;*/
	/*padding: 0;*/
}
#profile-header{
	height: 45px;
	background-color: #00897B;
}
#profile-info, #profile-info-chat{
	background-image: url('../img/chess2.jpg');
	height: 43%;
	/*background-color: yellow;*/
	background-position: center;
	background-size: cover;
}
#profile-info-chat{
	height : 35%;
}
#profile-mini-stats{
	height: 57px;
	background-color: #6B7E91;
}
#chat-div{
	height: 65%;
	padding-top: 10px;
	background-color: rgb(40, 50, 78);
}
#profile-info .col-md-12, #profile-info-chat .col-md-12
{
	height: 100%;
}
#profile-info-overlay{
	height: 100%;
	
	background-color: rgba(40, 50, 78, 0.7);
}
#profile-pic-wrapper{
	padding-top: 4%;
	text-align: center;
	/*margin-bottom: -40px;*/
}
#user-pic{
	height: 12vh;
	width: 12vh;
}
#user-name,#total-games-wrapper, #user-opponent-name{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	/*font-weight: bold;*/
	/*margin-top: 10px;*/
}
#total-games-wrapper{
	font-size: 20px;
	margin-top: 15px;
}
#user-name-wrapper{
		padding-top: 10px;
	padding-bottom: 5px;
}
#user-name-wrapper, #user-category-wrapper,#total-games-wrapper{
	/*padding: 0 25% 0 28%;*/
	text-align: center;

}
#user-category-wrapper button{
	background-color: #DDA611;
	color: #fff;
	/*border-color: #fff;*/
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	/*border-width: 10px;*/
	border-radius: 0;
	font-weight: bolder;
}
#heading{
	vertical-align: middle;
	font-size: 18px;
	font-family:sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 12px;
}
#profile-mini-stats div{
	margin-top: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.container-fluid{
	/*padding: 0;*/
}
.black-3c85d{
	background-color: #90A4AE;
}
.white-1e1d7{
	background-color: #ECEFF1;
}
#board1{
	text-align: center;
	vertical-align: middle;
	/*float: right;*/
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	border:none;
    height: calc(100vh - 75px);
    width: calc(100vh - 75px);
    /*background-color: red;*/
}
.board-b72b1{
	border:0;
	height: calc(100vh - 75px);
    width: calc(100vh - 75px) !important;
	box-sizing: border-box;
}
#timer{
	height: 100%;
	padding-left: 0;
	margin-left: -10px;
	color:#fff;
	padding-left: 0;
	font-size: 3.75vh;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	/*background-color: red;*/
}
li{
	list-style: none;
	margin-bottom: 27vh;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding-left: 10px;
}
.sidebar-li{
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding-bottom:0;
	padding-left: 0;
	font-family: 'Raleway', sans-serif;
	padding-top: 10px; 
	width: 90%;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.sidebar-li:hover{
	color: rgba(255,255,255,0.5);
}
#sidebar-li-app{
	color: #F8C82D;
	width: 100%;
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 70px;
	font-weight: bolder;
}
.container-fluid{
	padding-left: 0;
}
#offerdraw-btn, #resign-btn{
	cursor: pointer;
}
#chat-div-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #B0BEC5;
	height: 8vh;
}
#send-msg-btn{
	position: absolute;
	border-radius: 0;
	width:6vw;
	background-color: #455A64;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	padding:inherit 10px;
	height: 8vh;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
}
.opponent-msg{
	display: inline-block;
	float: left;
	clear: both;
	font-family:  sans-serif;
	font-size: 15px;
	background-color: #CFD8DC;
	padding: 10px 15px;
	color: #424242;
	margin: 10px 1vw;
}
.player-msg{
	display: inline-block;
	font-family:  sans-serif;
	float: right;
	clear: both;
	text-align: right;
	font-size: 15px;
	padding: 10px 15px;
	background-color: #CFD8DC;
	color: #424242;
	margin: 10px 1vw;
}
#message{
	height: 100%;
	font-family: sans-serif;
	font-size: 15px;
	width:29vw;
	background-color: transparent;
}