html, body, .container-fluid, #chessWrapper {
	height: 100%;
	/*overflow: visible;*/
}
#chessboard-div{
    /*background-color: #00A876;*/
    background-color: rgba(40, 50, 78, 0.6);
		  background: -webkit-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: -moz-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: -o-linear-gradient(right, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  background: linear-gradient(to left, rgba(40, 50, 78, 0.7), rgba(40, 50, 78, 0.9));
		  font-family: "Roboto", sans-serif;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
    padding-top: 30px;
    height: 100%;
    /*padding: 0;*/
}
#chessWrapper{
	/*background-color: #5E9CA9;*/
	/*padding: 0;*/
}
#profile-header{
	height: 45px;
	background-color: #00897B;
}
#profile-info{
	background-image: url('../img/chess2.jpg');
	height: 43%;
	/*background-color: yellow;*/
	background-position: center;
	background-size: cover;
}
#profile-mini-stats{
	height: 57px;
	background-color: #6B7E91;
}
#chat-div{
	height: 40%;
	background-color: rgba(40, 50, 78);
}
#profile-info .col-md-12
{
	height: 100%;
}
#profile-info-overlay{
	height: 100%;
	
	background-color: rgba(40, 50, 78, 0.7);
}
#profile-pic-wrapper{
	padding-top: 4%;
	text-align: center;
	/*margin-bottom: -40px;*/
}
#user-pic{
	height: 72px;
	/*padding: 5% 30%;*/
	width: 72px;
}
#user-name,#total-games-wrapper{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	/*font-weight: bold;*/
	/*margin-top: 10px;*/
}
#total-games-wrapper{
	font-size: 20px;
	margin-top: 15px;
}
#user-name-wrapper{
		padding-top: 10px;
	padding-bottom: 5px;
}
#user-name-wrapper, #user-category-wrapper,#total-games-wrapper{
	/*padding: 0 25% 0 28%;*/
	text-align: center;

}
#user-category-wrapper button{
	background-color: #DDA611;
	color: #fff;
	/*border-color: #fff;*/
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	/*border-width: 10px;*/
	border-radius: 0;
	font-weight: bolder;
}
#heading{
	vertical-align: middle;
	font-size: 18px;
	font-family:sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 12px;
}
#profile-mini-stats div{
	margin-top: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.container-fluid{
	/*padding: 0;*/
}
.black-3c85d{
	background-color: #90A4AE;
}
.white-1e1d7{
	background-color: #ECEFF1;
}
#board1{
	text-align: center;
	vertical-align: middle;
	/*float: right;*/
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	border:none;
    height: 550px;
    width: 550px;
    /*background-color: red;*/
}
.board-b72b1{
	border:0;
	box-sizing: border-box;
}
#timer{
	height: 100%;
	padding-left: 0;
	margin-left: -15px;
	color:#fff;
	padding-left: 0;
	font-size: 24px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	/*background-color: red;*/
}
li{
	list-style: none;
	padding-bottom: 160px;
}
ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding-left: 10px;
}
.sidebar-li{
	color: #fff;
	text-align: center;
	padding-bottom:0;
	padding-left: 0;
	font-family: 'Raleway', sans-serif;
	padding-top: 10px; 
	width: 90%;
	padding-bottom: 10px;
}
.sidebar-li:hover{
	color: rgba(255,255,255,0.5);
}
#sidebar-li-app{
	color: #F8C82D;
	width: 100%;
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 70px;
	font-weight: bolder;
}
.container-fluid{
	padding-left: 0;
}